<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Show Ninja</title>
</head>
<body>
    <div class="d-flex justify-content-around flex-wrap">
        <div class="col-6">
            <h2 class="text-center">First Name: {{ ninja.first_name }}</h2>
            <p>Last Name: {{ ninja.last_name }}</p>
            <p>Age: {{ ninja.age }}</p>
            <p>Weapon of Choice: {{ ninja.weapon_of_choice }}</p>
        </div>
        <form action="/join/dojo" method="post" class="col-6">
            <h2 class="text-info">Add Ninja to Dojo</h2>
            <input type="hidden" name="ninja_id" value="{{ ninja.id }}">
            <div class="form-group">
                <label for="dojo_id">Dojo:</label>
                <select name="dojo_id" class="form-control" >
                    {% for dojo in all_dojos %}
                        <option value="{{dojo.id}}">{{dojo.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Add Ninja" class="btn btn-primary">
        </form>
        <a href="/ninjas">Return to: Ninjas Main Page</a>
    </div>
</body>
</html>